main {
    display: flex;
    justify-content: space-between;
    padding: 2rem 12%;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    padding: 2rem;
    color: #fff;
    background-color: #5300C8;
}

.products {
    position: relative;
    height: 100%;
    margin-top: 2rem;
    background-color: #000000;
}

.products_title {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #03318C;
    margin-bottom: 1rem;
}

.products_list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    max-height: 70vh;
}

.product_image {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    border: 0.1rem solid #000000;
}

.product_info {
    margin-top: 1rem;
    text-align: left;
    width: 100%;
}

.product_name {
    margin-top: 0.5rem;
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    color: #FFFFFF;
}

.product_price {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    color: #FFFFFF;
}

.trash-icon {
    color: #fff;
    cursor: pointer;
}

.add_product{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add_product_title, .add_product_label {
    display: flex;
    margin-left: 0;
    margin-bottom: .3rem;
    color: #03318C;
}

.add_product_form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.upload_product_image {
    cursor: pointer;
    background-color: #e5e5e5;
    margin-bottom: 2rem;
}

.add_product_buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.add_product_button, .reset_product_button {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    padding: 2rem;
    color: #fff;
    background-color: #5300C8;
}

.mensagem {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mensagem__imagem {
    width: 30%;
}

.mensagem__titulo {
    color: var(--azul-medio);
    font-weight: bold;
    font-size: 21px;
}